<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Financeiro</title>

<style>
body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:15px;
}

h2{
    text-align:center;
    color:#22c55e;
}

.card{
    background:#111827;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
}

button{
    background:#22c55e;
    border:none;
    padding:8px;
    border-radius:6px;
    cursor:pointer;
}
</style>
</head>

<body>

<h2>💰 Financeiro</h2>

{% for os in lista %}
<div class="card">
OS: {{ os.id }}<br>
Cliente: {{ os.cliente }}<br>
Valor: R$ {{ os.valor }}<br>
Sinal: R$ {{ os.sinal }}<br>
Restante: R$ {{ os.restante }}<br>

<a href="/ver/{{ os.id }}"><button>Ver OS</button></a>
</div>
{% endfor %}

</body>
</html>
