<h2>💰 Financeiro</h2>

<div class="topo">
<a href="/financeiro"><button>Todos</button></a>
<a href="/financeiro?aberto=1"><button>Em aberto</button></a>
</div>

<form method="get">
<input name="busca" placeholder="Buscar cliente ou OS">
<button type="submit">Buscar</button>
</form>

<table>
<tr>
<th>OS</th>
<th>Cliente</th>
<th>Data</th>
<th>Valor</th>
<th>Custo</th>
<th>Frete</th>
<th>Restante</th>
<th>Status</th>
<th>Ação</th>
</tr>

{% for os in lista %}
<tr>
<td>{{ os.numero }}</td>
<td>{{ os.cliente }}</td>
<td>{{ os.data }}</td>
<td>R$ {{ os.valor }}</td>
<td>R$ {{ os.custo or 0 }}</td>
<td>R$ {{ os.frete or 0 }}</td>
<td>R$ {{ os.restante or 0 }}</td>

<td>
{% if os.restante == 0 %}
<span style="color:#22c55e">PAGO</span>
{% else %}
<span style="color:#facc15">ABERTO</span>
{% endif %}
</td>

<td>
<a href="/pagar/{{ os.numero }}"><button class="pago">Pagar</button></a>
<a href="/cancelar/{{ os.numero }}"><button class="cancelar">Cancelar</button></a>
</td>

</tr>
{% endfor %}
</table>

<div class="total">
<h3>📊 TOTAL</h3>

Valor Total: R$ {{ total }}<br>
Custo Total: R$ {{ custo }}<br>
Frete Total: R$ {{ frete }}<br>
<b>Lucro: R$ {{ lucro }}</b>
</div>
