# ================= HISTORICO =================
@app.route("/historico")
def historico():
    if not session.get("logado"):
        return redirect("/")

    usuario = session["usuario"]
    loja = USUARIOS[usuario]["loja"]

    busca = request.args.get("busca","").lower()

    lista = [o for o in carregar() if o.get("loja") == loja]

    # 🔎 busca funcionando
    if busca:
        lista = [
            o for o in lista
            if busca in (
                str(o.get("cliente","")).lower() +
                str(o.get("aparelho","")).lower() +
                str(o.get("telefone","")).lower() +
                str(o.get("numero",""))
            )
        ]

    return render_template("historico.html", lista=lista)
