<h2>Nova Ordem de Serviço</h2>

<form method="post">

Cliente:<br>
<input name="cliente"><br><br>

Telefone:<br>
<input name="telefone" id="tel"><br><br>

Aparelho:<br>
<input name="aparelho"><br><br>

IMEI:<br>
<input name="imei"><br><br>

CPF/CNPJ:<br>
<input name="cpf"><br><br>

Defeito:<br>
<input name="defeito"><br><br>

Valor:<br>
<input name="valor"><br><br>

Forma de Pagamento:<br>
<input name="pagamento"><br><br>

Sinal:<br>
<input name="sinal"><br><br>

Restante:<br>
<input name="restante"><br><br>

Garantia:<br>
<select name="garantia">
<option>Sem garantia</option>
<option>30 dias</option>
<option>60 dias</option>
<option>90 dias</option>
</select><br><br>

Senha:<br>
<input name="senha"><br><br>

Senha padrão (1-2-3):<br>
<input name="senha_padrao"><br><br>

<button type="submit">Gerar OS</button>

</form>

<script>
document.getElementById('tel').addEventListener('input', function(e){
    let v = e.target.value.replace(/\D/g,'');
    if(v.length > 11) v = v.slice(0,11);

    if(v.length > 6)
        v = v.replace(/(\d{2})(\d{5})(\d{0,4})/, '($1)$2-$3');
    else if(v.length > 2)
        v = v.replace(/(\d{2})(\d{0,5})/, '($1)$2');

    e.target.value = v;
});
</script>

<a href="/painel">Voltar</a>
