<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<style>
body{background:#0f172a;color:white;font-family:Arial;padding:20px;}
.card{background:#111827;padding:10px;margin-bottom:8px;border-radius:8px;}
h2{text-align:center;color:#22c55e;}
.total{text-align:center;font-size:22px;margin-top:20px;}
</style>
</head>

<body>

<h2>📅 Relatório do Dia</h2>

{% for os in lista %}
<div class="card">
OS {{ os.numero }} - {{ os.cliente }}<br>
{{ os.aparelho }}<br>
Valor: R$ {{ os.valor }}
</div>
{% endfor %}

<div class="total">
<b>Total: R$ {{ total }}</b>
</div>

</body>
</html>
